html,
body {
  margin: 0;
  padding: 0;
  font: 18px 'Source Sans Pro', 'Noto Sans KR', 'Apple SD Gothic Neo','AppleSDGothicNeo','Malgun Gothic','맑은 고딕',dotum,'돋움','Times New Roman',Times,serif;
  font-weight: 400;
  color: #1D2523;
  background-color: #fff;
  height: 100%;
}

nav {
  width: 100%;
  height: 51px;
  position: fixed;
  color: #fff;
  z-index: 100;
  -webkit-transition: background-color 500ms linear, color 500ms linear;
  -moz-transition: background-color 500ms linear, color 500ms linear;
  -o-transition: background-color 500ms linear, color 500ms linear;
  -ms-transition: background-color 500ms linear, color 500ms linear;
  transition: background-color 500ms linear, color 500ms linear;
}
nav h1 {
  display: none;
}
nav ul {
  list-style: none;
  text-align: center;
  margin-top: 14px;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 38px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav.dark {
  background-color: #fff;
  border-bottom: solid 2px #eaefef;
}
nav.dark ul li a {
  color: #a6aeae;
}
nav.dark ul li.on a {
  color: #2e3031;
}
@media screen and (max-width: 700px) {
  nav ul li {
    margin: 0 25px;
  }
}
@media screen and (max-width: 570px) {
  nav.dark {
    background-color: transparent;
    border-bottom: none;
  }
  nav h1 {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: 400;
    background-color: #1b272d;
    border-bottom: 1px solid #283840;
    font-size: 16px;
    line-height: 50px;
    position: relative;
    z-index: 999;
  }
  nav h1 .fold-arrow {
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -52px;
  }
  nav ul {
    padding-left: 0;
    transition: all 0.3s ease-out;
    position: absolute;
    top: -223px;
    width: 100%;
  }
  nav ul li {
    display: block;
    margin: 0 38px;
    width: 100%;
    background-color: #121e24;
    border: solid 1px #283840;
    line-height: 50px;
    font-size: 16px;
    margin: 0;
  }
  nav ul li a {
    width: 100%;
    display: inline-block;
  }
  nav.on ul {
    top: 36px;
  }
  nav.on h1 .fold-arrow {
    display: none;

  }
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

section {
  width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
}
section.wide {
  width: 100%;
}
section.wide .body{
  width: 770px;
  margin: 0 auto;
}
@media screen and (max-width: 830px) {
  section.wide .body{
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  section.wide .body{
    width: 85%;
  }
}
section.dark {
  background-color: #1b2931;
  color: #fff;
}

#breadcrumb {
  min-height: 470px;
  height: 80%;
  padding-top: 200px;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}
#breadcrumb h1 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
}
#breadcrumb h2 {
  margin: 94px 0 50px;
}
#breadcrumb .main-logo {
  position: relative;
  margin-top: 10px;
}
#breadcrumb .polygon-left {
  margin-right: -141px;
  vertical-align: top;
}
#breadcrumb .polygon-right {
  margin-left: -141px;
  vertical-align: top;
}
#breadcrumb .polygon-mobile {
  display: none;
}
#breadcrumb a.attend, #breadcrumb a.attend:visited {
  color: #fff;
  padding: 17px 58px;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#breadcrumb a.attend:hover {
  background-color: rgba(254, 254, 254, 0.3);
}
#breadcrumb a.scroll-down {
  display: block;
  margin-bottom: 40px;
  margin-left: -35px;
  position: absolute;
  left: 50%;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
#breadcrumb .scroll-down:before {
  content: "";
  background-image: url('../img/scroll-down.png');
  width: 20px;
  height: 10px;
  display: block;
  margin: 0 auto 10px;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #breadcrumb .scroll-down:before {
    background-image: url('../img/scroll-down@2x.png');
    background-size: 20px 10px;
  }
}
@media screen and (max-width: 640px) {
  #breadcrumb {
    padding-top: 151px;
    height: 75%;
  }
  #breadcrumb h1 {
    font-size: 16px;
    margin-top: 36px;
  }
  #breadcrumb h2 {
    font-size: 14px;
    margin: 36px 0 28px;
  }
  #breadcrumb .main-logo, #breadcrumb .polygon-left, #breadcrumb .polygon-right {
    display: none;
  }
  #breadcrumb .polygon-mobile {
    display: inline-block;
  }
  #breadcrumb a.attend, #breadcrumb a.attend:visited {
    font-size: 14px;
    padding: 11px 44px;
  }
  #breadcrumb a.scroll-down {
    font-size: 10px;
    margin-left: -25px;
    margin-bottom: 20px;
  }
}

#about {
  background-color: #f5f7f7;
  background-image: url('../img/img-logo-playnode-grey.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 137px 0 92px;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #about {
    background-image: url('../img/img-logo-playnode-grey@2x.png');
    background-size: 246px 284px;
  }
}
#about p {
  margin: 30px 0;
}
#about .logo {
  margin-left: 20px;
  margin-bottom: 41px;
}
#about .logo-mobile {
  display: none;
}
#about a, #about a:visited {
  color: #3d83e1;
}
@media screen and (max-width: 830px) {
  #about p br {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  #about {
    padding: 89px 0 40px;
    background-image: url('../img/m-img-logo-playnode-grey.png');
  }
  @media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
    #about {
      background-image: url('../img/m-img-logo-playnode-grey@2x.png');
      background-size: 197px 227px;
    }
  }
  #about .logo {
    display: none;
  }
  #about .logo-mobile {
    display: inline-block;
  }
  #about .body {
    text-align: center;
  }
  #about p {
    text-align: left;
    font-size: 13px;
  }
}

#speakers {
  background-image: url('../img/polygon-center.png');
  background-repeat: no-repeat;
  background-position: center 350px;
  padding: 127px 0 111px;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #speakers {
    background-image: url('../img/polygon-center@2x.png');
    background-size: 538px 622px;
  }
}
#speakers .bg-mobile {
  display: none;
}
#speakers h2:before {
  content: "";
  background-image: url('../img/speaker.png');
  width: 39px;
  height: 30px;
  display: inline-block;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #speakers h2:before {
    background-image: url('../img/speaker@2x.png');
    background-size: 39px 30px;
  }
}
#speakers ul {
  list-style: none;
  padding: 0;
  width: 730px;
  margin: 50px auto 0;
}
#speakers ul li {
  text-align: center;
  width: 150px;
  display: inline-block;
  margin: 0 45px 20px;
  cursor: pointer;
  vertical-align: top;
}
#speakers ul li.last {
  float: right;
}
#speakers ul:after {
  content: "";
  clear: both;
  display: block;

}
#speakers img.profile {
  display: inline-block;
}
#speakers .who {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
#speakers .company {
  display: block;
  font-size: 14px;
  color: #a6acad;
  margin-bottom: -5px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #3d83e1;
  border-bottom: none;
  display: inline-block;
  -webkit-transition: border 100ms linear;
  -moz-transition: border 100ms linear;
  -o-transition: border 100ms linear;
  -ms-transition: border 100ms linear;
  transition: border 100ms linear;
}
.triangle.on {
  border-top: none;
  border-bottom: 8px solid #efeff2;
}
#speakers ul li .detail {
  width: 560px;
  min-height: 95px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #efeff2;
  padding: 20px 30px;
  margin-left: 10px;
  font-size: 14px;
  color: #2e3031;
  margin-top: 10px;
  display: none;
  text-align: left;
}
#speakers ul li .detail.on {
  display: block;
}
#speakers ul li .detail.center {
  margin-left: -230px;
}
#speakers ul li .detail.right {
  margin-left: -470px;
}
@media screen and (max-width: 768px) {
  #speakers ul {
    width: 100%;
    text-align: center;
  }

  #speakers ul li {
    margin: 0 auto 20px;
    width: 48%;
  }

  #speakers ul li .detail {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
  }

  #speakers ul li .detail.center {
    margin-left: 0;
  }

  #speakers ul li .detail.right {
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  #speakers {
    background-image: none;
    padding: 83px 0 50px;
  }
  #speakers .bg-mobile {
    position: fixed;
    top: 0;
    left: 0;
    left: 50%;
    margin-left: -137px;
    top: 200px;
    z-index: 10;
  }
  #speakers .bg-mobile.show {
    display: block;
  }
  #speakers .body {
    position: relative;
    z-index: 50;
  }
  #speakers h2 {
    font-size: 14px;
  }
  #speakers ul {
    margin-top: 45px;
  }
  #speakers ul li {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
  }
  #speakers .who {
    font-size: 13px;
  }
  #speakers .company {
    font-size: 13px;
  }
}

#schedule {
  background-color: #fafcfc;
  padding: 113px 0 63px;
}
#schedule .body {
  width: 820px;
}
#schedule h2 {
  margin-bottom: 36px;
}
#schedule h2:before {
  content: "";
  background-image: url('../img/calendar-bigger.png');
  width: 29px;
  height: 31px;
  display: inline-block;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #schedule h2:before {
    background-image: url('../img/calendar-bigger@2x.png');
    background-size: 29px 31px;
  }
}
#schedule table {
  background-color: #efeff2;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 62px;
  table-layout: fixed;
}
#schedule table thead tr {
  background-color: #1a405c;
  color: #fff;
}
#schedule table thead td {
  padding: 5px 0;
}
#schedule table td {
  border: 2px solid #fafcfc;
  padding: 15px 26px;
}
#schedule table td.time {
  width: 130px;
}
#schedule table td.session {
  padding: 15px 38px;
  cursor: pointer;
}
#schedule table td.session:hover {
  background-color: #e1e1e6;
}
#schedule table td.speaker {
  padding: 5px;
}
#schedule table td.speaker.hover {
  background-color: #e1e1e6;
}
#schedule .desc {
  width: 704px;
  min-height: 280px;
  background-color: #fafcfc;
  position: fixed;
  z-index: 10000;
  top: 40%;
  left: 50%;
  margin-left: -352px;
  margin-top: -140px;
  border-radius: 4px;
  border-left: 6px solid #1a405c;
  text-align: left;
  padding: 30px 40px;
  color: #2e3031;
  box-sizing: border-box;
  display: none;
  max-height: 70%;
  overflow: auto;
}
#schedule .desc.on {
  display: block;
}

#schedule .desc h5 {
  font-size: 15px;
  font-weight: 600;
  color: #1a405c;
  margin: 0 0 8px 0;
}
#schedule .desc p {
  margin-bottom: 20px;
}
@media screen and (max-width: 860px) {
  #schedule .body {
    width: 90%;
  }
  #schedule .desc {
    width: 90%;
    margin-left: -45%;
    top: 40%;
  }
  #schedule table td.time {
    width: 90px;
  }
}
@media screen and (max-width: 640px) {
  #schedule {
    padding: 104px 0 51px;
  }
  #schedule .body {
    width: 85%;
  }
  #schedule h2 {
    font-size: 14px;
    margin-bottom: 23px;
  }
  #schedule table {
    margin-bottom: 30px;
  }
  #schedule table td {
    padding: 5px;
    font-size: 12px;
  }
  #schedule table thead td {
    font-size: 12px;
  }
  #schedule table td.time {
    width: 50px;
  }
  #schedule table td.session {
    padding: 5px;
    font-size: 10px;
  }
  #schedule table td.speaker {
    font-size: 10px;
  }
  #schedule .desc {
    width: 94%;
    left: 50%;
    margin-left: -47%;
    padding: 20px 25px;
  }
  #schedule .desc h5, #schedule .desc p {
    font-size: 11px;
  }
}

#venue {
  padding: 121px 0 70px;
  position: relative;
  overflow: hidden;
}
#venue h2 {
  margin-bottom: 88px;
}
#venue h2:before {
  content: "";
  background-image: url('../img/venue.png');
  width: 27px;
  height: 36px;
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #venue h2:before {
    background-image: url('../img/venue@2x.png');
    background-size: 27px 36px;
  }
}
#venue h4 {
  font-size: 16px;
  font-weight: 400;
}
#venue h4.address {
  margin-top: 41px;
  margin-bottom: 29px;
}
#venue h4.map {
  margin-top: 58px;
  margin-bottom: 22px;
}
#venue p {
  font-size: 14px;
  margin-bottom: 14px;
}
#venue .bg {
  position: absolute;
  top: -150px;
  right: 50%;
  margin-right: -700px;
}
@media screen and (max-width: 640px) {
  #venue {
    padding: 90px 0 100px;
    background-color: #263137;
  }
  #venue h2 {
    font-size: 14px;
  }
  #venue h2 {
    margin-bottom: 76px;
  }
  #venue h4 {
    font-size: 13px;
  }
  #venue p {
    font-size: 11px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  #venue h4.address {
    margin-bottom: 20px;
  }
  #venue h4.map {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #venue .bg {
    margin-right: 0;
    right: 0;
    left: 70%;
  }
}

#sponsors {
  background-color: #1b2931;
  padding: 210px 0 62px;
  text-align: center;
}
#sponsors .sponsor {
  display: inline-block;
}
#sponsors .sponsor-mobile {
  display: none;
}
@media screen and (max-width: 640px) {
  #sponsors {
    padding: 117px 0 42px;
  }
  #sponsors .sponsor {
    display: none;
  }
  #sponsors .sponsor-mobile {
    display: inline-block;
  }
}

footer {
  background-color: #1b2931;
  color: #fff;
  min-height: 340px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}
footer h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 9px;
}
footer h6:before {
  content: "";
  width: 3px;
  height: 14px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}
footer .contactus {
  height: 150px;
  width: 189px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  border-right: 2px solid #979797;
}
footer .contactus .logo {
  position: absolute;
  left: -51px;
  top: -34px;
}
footer .contactus span {
  display: block;
  padding-left: 13px;
  margin-bottom: 13px;
}
footer .contactus span a {
  margin-right: 15px;
}
footer .developedby {
  width: 200px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  margin-left: 65px;
}
footer .developedby a {
  display: block;
  margin-bottom: 10px;
  padding-left: 13px;
}
footer .designedby {
  width: 200px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  margin-left: 149px;
  font-size: 14px;
}
footer .designedby span {
  padding-left: 13px;
}
footer .designedby .bg1 {
  position: absolute;
  top: -76px;
  left: -32px;
  display: inline-block;
}
footer .designedby .bg2 {
  position: absolute;
  top: 11px;
  left: 44px;
  display: inline-block;
}
footer .designedby .bg1-mobile, footer .designedby .bg2-mobile, footer .bg3-mobile {
  display: none;
}
footer a {
  font-size: 14px;
  color: #3d83e1;
  text-decoration: none;
}
footer .copyright {
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;

}
footer .bg3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -650px;
}
@media screen and (max-width: 940px) {
  footer .contactus {
    width: 140px;
    margin-left: 50px;
  }
  footer .developedby {
    width: 100px;
    margin-left: 40px;
  }
  footer .designedby {
    width: 150px;
    margin-left: 100px;
  }
  footer .bg3 {
    margin-left: -500px;
  }
}
@media screen and (max-width: 700px) {
  footer .developedby {
    margin-left: 20px;
  }
  footer .designedby {
    margin-left: 50px;
  }
}
@media screen and (max-width: 540px) {
  footer {
    text-align: left;
    min-height: 290px;
  }
  footer .contactus {
    display: block;
    margin-left: 80px;
    border: none;
    height: 115px;
  }
  footer h6 {
    font-size: 13px;
  }
  footer a {
    font-size: 12px;
  }
  footer .developedby {
    margin-left: 80px;
    width: auto;
  }
  footer .developedby a {
    margin-bottom: 5px;
    position: relative;
    z-index: 50;
  }
  footer .copyright {
    text-align: center;
  }
  footer .designedby {
    margin-left: 5%;
    width: 120px;
    font-size: 12px;
  }
  footer .developedby h6, footer .designedby h6, footer .designedby span {
    position: relative;
    z-index: 50;
  }
  footer .designedby .bg1, footer .designedby .bg2, footer .bg3 {
    display: none;
  }
  footer .designedby .bg1-mobile {
    display: inline-block;
    position: absolute;
    top: -60px;
    left: 20px;
    z-index: 10;
  }
  footer .designedby .bg2-mobile {
    position: absolute;
    top: -26px;
    left: 56px;
    display: inline-block;
    z-index: 10;
  }
  footer .bg3-mobile {
    position: absolute;
    bottom: -60px;
    left: -60px;
    display: inline-block;
    z-index: 10;
  }
  footer .copyright {
    font-size: 9px;
    bottom: 15px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.overlay.on {
  display: block;
}
