html,
body {
  margin: 0;
  padding: 0;
  font-family: NanumSquareWeb;
  font-weight: 400;
  color: #1D2523;
  background-color: #f6f6f6;
  height: 100%;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

section {
  width: 1024px;
  margin: 0 auto;
  padding: 0.1px 0;
  text-align: center;
}
section.wide {
  width: 100%;
}
section.wide .body {
  width: 770px;
  margin: 0 auto;
}
@media screen and (max-width: 830px) {
  section.wide .body {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  section.wide .body {
    width: 85%;
  }
}
section.dark {
  background-color: #fff;
  color: #2d2b76;
}

#intro {
  text-align: center;
  position: relative;
  background: #2e2a76;
  background: -moz-linear-gradient(top, #2e2a76 0%, #2e2a76 42%, #352b76 45%, #423076 48%, #5a3e76 53%, #946680 64%, #dea397 73%, #efb29e 75%, #fcbda4 78%, #ffc5a9 80%, #ffd5b9 85%, #ffe3ce 90%, #fff4f0 95%, #fff7f5 97%, #fff7f5 100%);
  background: -webkit-linear-gradient(top, #2e2a76 0%,#2e2a76 42%,#352b76 45%,#423076 48%,#5a3e76 53%,#946680 64%,#dea397 73%,#efb29e 75%,#fcbda4 78%,#ffc5a9 80%,#ffd5b9 85%,#ffe3ce 90%,#fff4f0 95%,#fff7f5 97%,#fff7f5 100%);
  background: linear-gradient(to bottom, #2e2a76 0%,#2e2a76 42%,#352b76 45%,#423076 48%,#5a3e76 53%,#946680 64%,#dea397 73%,#efb29e 75%,#fcbda4 78%,#ffc5a9 80%,#ffd5b9 85%,#ffe3ce 90%,#fff4f0 95%,#fff7f5 97%,#fff7f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2a76', endColorstr='#fff7f5',GradientType=0 );
}
#intro img {
  display: block;
  margin: 0 auto;
}
#intro h1 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
}
#intro h2 {
  margin: 94px 0 50px;
}
#intro .main-logo {
  position: relative;
  margin-top: 66px;
  width: 90%;
  object-fit: contain;
}
#intro .makenode {
  margin-top: 143px;
  vertical-align: top;
  width: 729px;
  height: 202px;
  object-fit: contain;
}
@media screen and (min-width: 800px) {
  #intro {
    background-image: url("/2017/img/back-1@2x.png");
    background-size: auto 916px;
    background-repeat: repeat-x;
  }
  #intro .main-logo {
    width: 647px;
    height: 202px;
  }
  #intro .arrow {
    background-color: #f6f6f6;
  }
}

#cfs {
  margin-top: 141px;
}
#cfs .title img {
  width: 298px;
  height: 32px;
}
#cfs {
  position: relative;
  margin-top: 151px;
  font-family: NanumSquareWeb;
  background-color: #f6f6f6;
  text-align: center;
}
#cfs .title {
  position: relative;
}
#cfs .content {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  font-family: NanumSquareWeb;
  font-size: 20px;
  line-height: 40px;
  width: 352px;
}
#cfs .apply {
  display: table;
  width: 208px;
  height: 82px;
  background-color: #2d2b76;
  margin: 90px auto 0 auto;  
}
#cfs .apply a {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}
#cfs .apply a .content {
  color: white;
  font-size: 24.5px;
  line-height: 1.18px;
}

@media screen and (max-width: 640px) {
  #intro .desc {
    font-size: 14px;
    width: 80%;
  }
}
#intro a.scroll-down {
  display: block;
  margin-bottom: 40px;
  margin-left: -35px;
  position: absolute;
  left: 50%;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
#intro .arrow {
  margin-top: 264px;
}
#intro .arrow img {
  width: 269px;
  height: 77px;
  object-fit: contain;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #intro .scroll-down:before {
    background-image: url('../img/scroll-down@2x.png');
    background-size: 20px 10px;
  }
}
@media screen and (max-width: 640px) {
  #intro {
    min-height: 550px;
    height: 800px;
  }
  #intro h1 {
    font-size: 16px;
    margin-top: 36px;
  }
  #intro h2 {
    font-size: 14px;
    margin: 36px 0 28px;
  }
  #intro .makenode {
    width: 298px;
    height: 166px;
    object-fit: contain;
    margin-top: 131px;
  }
  #intro .arrow {
    margin-top: 264px;
  }
  #intro .arrow img {
    width: 218px;
    height: 62px;
    object-fit: contain;
  }
}

footer {
  display: table;
  width: 100%;
  background-color: #2c2c2c;
  min-height: 82px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-top: 103px;
  height: 194px;
}
footer div {
  /* display: table-cell; */
  vertical-align: middle;
}
footer .social {
  margin-top: 64px;
  text-align: center;
}
footer .social a ~ a {
  margin-left: 33px;
}
footer .copyright {
  color: #525252;
  line-height: 40px;
  font-family: NanumSquareWeb;
  font-size: 18px;
  margin-top: 32px;
}
@media screen and (max-width: 540px) {
  footer {
    text-align: left;
  }
  footer .copyright {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  #cfs .content {
    font-size: 16px;
    width: 300px;
  }

  footer .copyright {
    font-size: 14px;
  }
}