@media (max-width: 1400px) {
  .container {
    width: 980px;
  }

  .masthead .masthead-innter {
    .masthead-title {
      margin-right: -24px;

      > span {
        font-size: 56px;
      }

      &:after {
        font-size: 56px;
      }
    }
    .masthead-subtitle {
      margin-right: 12px;
      font-size: 18px;
    }
  }

  .masthead-new .masthead-innter {
    .masthead-title {
      > img {
        width: 136px;
        position: relative;
        top: 48px;
      }

      margin-right: -24px;

      > span {
        font-size: 100px;
      }

      &:after {
        font-size: 100px;
      }
    }
    .masthead-subtitle {
      margin-right: 12px;
      font-size: 18px;
    }
  }

  .join {
    .cfs-title {
      h3 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    .cfs-info {
      font-size: 18px;
    }
  }

  .slideshow .pipe pre {
    font-size: 56px;
  }

  // #organizers {
  //   width: 500px;
  //   margin: 0 auto;
  // }

  .signup {
    padding: 16px;
  }

}

@media (max-width: 996px) {
  .container {
    width: 100%;
    padding: 0 24px;
  }

  .masthead .masthead-innter {
    .masthead-title {
      margin-right: -24px;

      > span {
        font-size: 48px;
      }

      &:after {
        font-size: 48px;
      }
    }
    .masthead-subtitle {
      margin-right: 12px;
      font-size: 18px;
    }
  }

  .masthead-new .masthead-innter {

    .container {
      text-align: center !important;
    }

    .masthead-title {

      > img {
        width: 100px;
        position: relative;
        top: 32px;
      }
      padding: 18px 0;

      > span {
        font-size: 88px;
        color: white;
      }

      &:after {
        font-size: 88px;
      }
    }

    .masthead-subtitle {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin: 24px 0 0 0;
    }
  }

  .join {
    .cfs-title {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 16px;
      }
    }

    .cfs-info {
      font-size: 14px;

      a {
        padding: 24px;
      }
    }
  }

  .slideshow .pipe pre {
    font-size: 32px;
  }

  .signup {
    padding: 16px;
  }

}

@media (max-width: 768px) {
  .top-header {
    height: 64px;
    padding: 10px 0;

    .logo {
      width: 40px;
      height: 40px;
    }

    .top-navigation {
       > li {
          line-height: 40px;
       }
    }
  }

  .masthead .masthead-innter {
    .masthead-title {
      margin-right: -24px;

      > span {
        font-size: 40px;
      }

      &:after {
        font-size: 40px;
      }
    }
    .masthead-subtitle {
      font-size: 14px;
    }
  }

  .masthead-new .masthead-innter {
    .masthead-title {
      > img {
        width: 76px;
        position: relative;
        top: 24px;
      }

      margin-right: -24px;

      > span {
        font-size: 66px;
      }

      &:after {
        font-size: 66px;
      }
    }
    .masthead-subtitle {
      font-size: 14px;
    }
  }

  .join {
    .cfs-title {
      width:100%;
      float: none;
      height: 64px;
      min-height: 64px;
      padding: 0 24px;
      h3 {
       margin:0;
       padding: 12px 0;
       line-height: 40px;
       font-size: 14px;
       text-align: center;
      }

      p {
        display: none;
        font-size: 12px;
      }
    }

    .cfs-info {
      width:100%;
      float: none;
      font-size: 14px;
      height: 64px;
      min-height: 64px;

      a {
        min-height: 64px;
        padding: 12px 0;
        line-height: 40px;
      }
    }
  }

  .page-content {
    padding: 48px 0;

    h3 {
      font-size: 32px;
      margin: 0;
      padding: 24px;
    }

    h4 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  .slideshow .pipe pre {
    font-size: 28px;
  }

  .cfs {
    width: 200px;
    font-size: 18px;
  }

  .footer .conference-info .col {
    flex-basis: 100%;
    clear: both;
  }

  .copyright {
    font-size: 14px;
  }

  .sponsor-btn {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }

  .top-header {
    height: 48px;
    padding: 6px 0;
    min-height: 48px;

    .logo {
      width: 30px;
      height: 30px;
    }

    .top-navigation {
      > li {
        line-height: 30px;

        > a,
        > a:visited {

          &:active,
          &:hover {
            color: @brand-primary-new;
            opacity: 1;
          }
        }
      }
    }

    &.affix {
      padding: 6px 0;
      height: 48px;
      border-bottom: 3px solid @brand-primary;

      .logo {
        width: 30px;
        height: 30px;
      }

      .top-navigation {
        > li {
          line-height: 30px;

          > a,
          > a:visited {
            * {
              color: #333;
            }

            &:active,
            &:hover {
              color: @brand-primary;
              opacity: 1;
            }
          }
        }
      }
    }
  }


  .masthead .masthead-innter {

    .container {
      text-align: center !important;
    }

    .masthead-title {
      padding: 12px 0;

      > span {
        font-size: 24px;
      }

      &:after {
        font-size: 24px;
      }
    }

    .masthead-subtitle {
      font-size: 12px;
      text-align: center
    }
  }

  .masthead-new .masthead-innter {

    .container {
      text-align: center !important;
    }

    .masthead-title {

      > img {
        width: 48px;
        position: relative;
        top: 14px;
      }

      padding: 18px 0;

      > span {
        font-size: 44px;
        color: white;
      }

      &:after {
        font-size: 44px;
      }
    }

    .masthead-subtitle {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin: 24px 0 0 0;
    }
  }

  .page-content {
    h3 {
      font-size: 26px;
      padding: 12px;
    }

    h4 {
      font-size: 20px;
    }
  }

  .page-content-new {
    h3 {
      margin: 0 0 18px 0;
      padding: 12px 0 0 0;
      font-size: 48px;
      font-weight: 200;
      color: black;
    }

    h4 {
      font-size: 20px;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 18px;
    }
  }

  .signup {
    padding: 4px;
  }

  .slideshow .pipe pre {
    font-size: 18px;
  }

  .lg-title {
    display: none;
  }

  .about-logo img {
    width: 86%;
  }

  #cli-handle {
    display: none;
  }

  .banners {
    > li {
      width: 50%;
    }
  }

  .banners-new {
    > .platinum {
      width: 100%;
    }

    > .partner {
      width: 80%;
    }

    > li {
      width: 33.33333333%;
    }
  }

  .copyright {
    font-size: 8pt;
  }

}
