@import "common.less";

.masthead-title {
  color: #fff;
  font-size: @font-size-h1;
  z-index: 1004;
}

.masthead-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  z-index: 1000;
}

.sidebar {
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 256px;
  transform: translate3d(0,0,0);
}

.slide-image-1 {
  display: block !important;
  opacity: 1 !important;
  .slide-variant('/assets/images/slide-image-1.jpg');
}

.slide-image-2 {
  .slide-variant('/assets/images/slide-image-2.jpg');
}

.slide-image-3 {
  .slide-variant('/assets/images/slide-image-3.jpg');
}

.slide-image-4 {
  .slide-variant('/assets/images/slide-image-4.jpg');
}

.slide-image-5 {
  .slide-variant('/assets/images/slide-image-5.jpg');
}

.slide-image-6 {
  .slide-variant('/assets/images/slide-image-6.jpg');
}

.slide-image-7 {
  .slide-variant('/assets/images/slide-image-7.jpg');
}

.slide-image-8 {
  .slide-variant('/assets/images/slide-image-8.jpg');
}

// web cli
#webcli {
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 256px;
  transform: translate3d(0,0,0);
  z-index: 9999;
  background-color: #0F0700;
  border-left: 1px solid #5B5340;
}

#cli-handle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  bottom: 10px;
  left: -40px;
  position: absolute;
  .icon {
    transition: all 500ms ease;
  }
}
