@import "font.less";
@import "common.less";
@import "flex.less";

.top-header {
  position: fixed;
  top: 0;
  height: 112px;
  min-height: 64px;
  max-height: 112px;
  width: 100%;
  padding: 24px 0;
  z-index: 1004;
  background-color: transparent;
  transition: all .35s;
  
  &.affix {
    top: 0;
    background-color: #fff;
    color: #333;
    height: 64px;
    padding: 10px 0;
    border-bottom: 6px solid @brand-primary;

    .logo {
      width: 40px;
      height: 40px;
    }
    
    .top-navigation {
       > li { 
        line-height: 40px;

        > a,
        > a:visited {
          * {
            color: #333;
          }
          
          &:active,
          &:hover {
            color: @brand-primary;
            opacity: 1;
          }
        }
      }
    }
  }

  .logo {
    margin: 0;
    width: 64px; 24
    height: 64px;
    background-image: url('/assets/images/logo-playnode.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    animation: spin-logo 3.5s infinite;
    transition: all .25s;

    @keyframes spin-logo {
      0% { transform: rotate3d(0, 1, 0,  0deg ); }
      50% { transform: rotate3d(0, 1, 0,  180deg ); }
      100% { transform: rotate3d(0, 1, 0,  360deg ); }
    }

    > a {
      display: block;
      width: 40px;
      height: 40px;
      color: #000;
    }
  }

  .top-navigation {
    margin: 0;

    > li {
      display: inline-block;
      line-height: 64px;

      > a {
        display: block;
        padding: 0 12px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        opacity: .75;
        color: #fff;

        &:visited,
        &:active,
        &:hover {
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

.main-content {
  text-align: center;
}

.masthead {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  background-image: url("/assets/images/speakers.jpg");
  background-size: cover;
  background-position: center;
 
  .masthead-innter {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: right;
  
    div.container {
      text-align: right;
    }

    .masthead-title {
      padding: 24px;
      text-align: right;
      margin-right: -48px;
      font-size: 0;
      display: inline-block;
      
      > span {
        display:inline-block;
        font-size: 84px;
        opacity: 0;
        display:none;

        &.green {
          color: @brand-primary;
        }

        &.green-darken {
          color: @brand-dark;
        }

        &.green-lighten {
          color: @brand-light;
        }

        &.gray {
          color: rgba(255, 255, 255, .55);
        }

        &.whitespace {
          &:after {
            content: " ";
            width: 24px;
            display: inline-block;
          }
        }
      }

      &:after {
        content: "|";
        display: inline-block;
        padding:0 5px;
        font-size: 84px;
        vertical-align: top;
        color: @brand-primary;
        opacity: 1;
        animation: blink .7s infinite;

      }

      @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
      }
    }

    .masthead-subtitle {
      font-size: 28px;
      font-weight: 400;
      text-align: right;
      color: #fff;
      text-transform: uppercase;
      margin: 0 ;
      
      address {
        margin-top: 10px;
        color: @brand-light;
      }
    } 
  }
}

.join {
  .cfs-title {
    height: 100px;
    width: 75%;
    float:left;
    color: #b0b0b0;
    background: #262626;
    min-height: 100px;
    padding:0 64px;

    h3 {
  
      text-align: right;
      font-size: 32px;
      text-transform: uppercase;
      line-height: 40px;
      margin: 0;
      margin-top:20px;

    }

    p {
      text-align: right;
      margin: 5px 0 0;
      font-size: 18px;
      margin: 0;
    }
  }

  .cfs-info {
    float: right;
    color: #fff;
    font-size: 28px;
    line-height: 52px;
    text-transform: uppercase;
    width: 25%;
    
    > * {
      vertical-align: middle;
    }

    > a {
      background-color: #689F38;
      min-height: 100px;
      padding: 24px 64px;
      display: block;
      color: #fff;
      text-decoration: none;
      
      &:hover {
        background-color: darken(#689F38, 10%);
      }
    }
  }

  &:after {
    clear:both;
    display:table;
    content: ' ';
  }

  &:before {
    clear:both;
    display:table;
    content: ' ';
  }
}

.page-content {
  padding: 70px 0;
  
  h3 {
    padding: 24px 64px;
    display: inline-block;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 48px;
    color: @brand-primary;

    &:after {
      content: "";
      display: block;
      width: 58%;
      height: 3px;
      background-color: @brand-primary;
      margin-top: 12px;
      margin-bottom: 15px;
    }
  }

  h4 {
    padding: 0 24px;
    font-size: 34px;
    font-weight: 400;
  }

  p {
    padding: 0 24px;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    text-align: left;
    color: #666;
  }
}

.cfs {
  margin-top: 64px;
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  background-color: @brand-dark;
  color: #fff;
  border-radius: 3px;
  width: 300px;
  font-size: 32px;

  &:visited,
  &:active,
  &:hover {
    color: #fff;
    opacity: 1;
  }
}

.about-logo {
  text-align: center !important;
  margin-top:64px;

  img {
    width: 56%;
  }
}

.slideshow {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  .pipe {
    position: absolute;
    z-index: 1000;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
    pre {
      margin: 0 auto;
      text-align: left;
      font-size: 72px;
      font-weight: 500;

      .green {
        color: @brand-primary;
      }

      .green-darken {
        color: @brand-dark;
      }

      .green-lighten {
        color: @brand-light;
      }

      .gray {
        color: @gray;
      }

    }
  }
}

// web cli
#webcli {
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 256px;
  transform: translate3d(-2px,0,0);
  z-index: 1005;
  background-color: #0F0700;
  border-left: 1px solid #5B5340;
  transition: all .2s ease;
    
  &.active {
    transform: translate3d(-100%, 0, 0);
  }
}

.footer {
  background-color: #262626;
  
  .conference-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .col {
      flex: 1 1 8%;
      margin: 0 0 0.5rem 0;
      padding: 0.5em 10px;
      flex-basis: 33.3333333%;
      text-align: left;

      h4 {
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;

        &:after {
          content: "";
          display: block;
          width: 28%;
          height: 3px;
          background-color: @brand-primary;
          margin-top: 12px;
          margin-bottom: 15px;
        }
      }

      p {
        padding: 0 64px 0 0;
        color: rgba(255, 255, 255, .65);
        font-size: 14px;
        line-height: 26px;
      }

      li {
        line-height: 26px;
        min-height: 26px;
        color: rgba(255, 255, 255, .75);

        a {
          display: inline-block;
          color: @brand-primary;
          opacity: .55;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .copyright {
    margin: 0;
    padding: 24px 64px;
    background-color: #333;
    color: #fff;
  }
}

#cli-handle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  bottom: 10px;
  left: -50px;
  position: absolute;
  
  * {
    color: @brand-primary;
  }

  .icon {
    transition: all .5s ease;
  }
}

#console {
  height: 100%;
  font-size: 18px;
  word-wrap: break-word;
}

.jqconsole {
  padding: 10px;
}
.jqconsole-cursor {
  background-color: #D89036;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
.jqconsole-header {
  color: #D37B2A;
}
.jqconsole-prompt {
  color: #EAEBD5;
}
.jqconsole-old-prompt {
  color: #EAEBD5;
  font-weight: normal;
}
.jqconsole-output {
  color: #B07318;
}
