html,
body {
  margin: 0;
  padding: 0;
  font: 18px 'Source Sans Pro', 'Noto Sans KR', 'Apple SD Gothic Neo','AppleSDGothicNeo','Malgun Gothic','맑은 고딕',dotum,'돋움','Times New Roman',Times,serif;
  font-weight: 400;
  color: #1D2523;
  background-color: #fff;
  height: 100%;
}

nav {
  width: 100%;
  height: 51px;
  position: fixed;
  color: #fff;
  z-index: 100;
  -webkit-transition: background-color 500ms linear, color 500ms linear;
  -moz-transition: background-color 500ms linear, color 500ms linear;
  -o-transition: background-color 500ms linear, color 500ms linear;
  -ms-transition: background-color 500ms linear, color 500ms linear;
  transition: background-color 500ms linear, color 500ms linear;
}
nav ul {
  list-style: none;
  text-align: center;
  margin-top: 14px;
}

nav ul li {
  display: inline-block;
  margin: 0 38px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav.dark {
  background-color: #fff;
  border-bottom: solid 2px #eaefef;
}
nav.dark ul li a {
  color: #a6aeae;
}
nav.dark ul li.on a {
  color: #2e3031;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

section {
  width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
}
section.wide {
  width: 100%;
}
section.wide .body{
  width: 770px;
  margin: 0 auto;
}
section.dark {
  background-color: #1b2931;
  color: #fff;
}

#breadcrumb {
  height: 80%;
  padding-top: 200px;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}
#breadcrumb h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}
#breadcrumb h2 {
  margin: 94px 0 50px;
}
#breadcrumb .main-logo {
  position: relative;
  margin-top: 10px;
}
#breadcrumb .polygon-left {
  margin-right: -141px;
  vertical-align: top;
}
#breadcrumb .polygon-right {
  margin-left: -141px;
  vertical-align: top;
}
#breadcrumb a.attend, #breadcrumb a.attend:visited {
  color: #fff;
  padding: 17px 58px;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#breadcrumb a.attend:hover {
  background-color: rgba(254, 254, 254, 0.3);
}
#breadcrumb a.scroll-down {
  display: block;
  margin-bottom: 40px;
  margin-left: -35px;
  position: absolute;
  left: 50%;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
#breadcrumb .scroll-down:before {
  content: "";
  background-image: url('../img/scroll-down.png');
  width: 39px;
  height: 19px;
  display: block;
  margin: 0 auto 10px;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #breadcrumb .scroll-down:before {
    background-image: url('../img/scroll-down@2x.png');
    background-size: 39px 19px;
  }
}

#about {
  background-color: #f5f7f7;
  background-image: url('../img/img-logo-playnode-grey.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 137px 0 92px;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #about {
    background-image: url('../img/img-logo-playnode-grey@2x.png');
    background-size: 246px 284px;
  }
}
#about p {
  margin: 30px 0;
}
#about img {
  margin-left: 20px;
  margin-bottom: 41px;
}
#about a, #about a:visited {
  color: #3d83e1;
}

#speakers {
  background-image: url('../img/polygon-center.png');
  background-repeat: no-repeat;
  background-position: center 350px;
  padding: 127px 0 111px;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #speakers {
    background-image: url('../img/polygon-center@2x.png');
    background-size: 538px 622px;
  }
}
#speakers h2:before {
  content: "";
  background-image: url('../img/speaker.png');
  width: 39px;
  height: 30px;
  display: inline-block;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #speakers h2:before {
    background-image: url('../img/speaker@2x.png');
    background-size: 39px 30px;
  }
}
#speakers ul {
  list-style: none;
  padding: 0;
  width: 730px;
  margin: 50px auto 0;
}
#speakers ul li {
  text-align: center;
  width: 150px;
  display: inline-block;
  margin: 0 45px 20px;
  cursor: pointer;
  vertical-align: top;
}
#speakers ul li.last {
  float: right;
}
#speakers ul:after {
  content: "";
  clear: both;
  display: block;

}
#speakers img.profile {
  display: inline-block;
}
#speakers .who {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
#speakers .company {
  display: block;
  font-size: 14px;
  color: #a6acad;
  margin-bottom: -5px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #3d83e1;
  border-bottom: none;
  display: inline-block;
  -webkit-transition: border 100ms linear;
  -moz-transition: border 100ms linear;
  -o-transition: border 100ms linear;
  -ms-transition: border 100ms linear;
  transition: border 100ms linear;
}
.triangle.on {
  border-top: none;
  border-bottom: 8px solid #efeff2;
}
#speakers ul li .detail {
  width: 560px;
  height: 95px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #efeff2;
  padding: 20px 30px;
  margin-left: 10px;
  font-size: 14px;
  color: #2e3031;
  margin-top: 10px;
  display: none;
  text-align: left;
}
#speakers ul li .detail.on {
  display: block;
}
#speakers ul li .detail.center {
  margin-left: -230px;
}
#speakers ul li .detail.right {
  margin-left: -470px;
}

#schedule {
  background-color: #fafcfc;
  padding: 113px 0 63px;
}
#schedule .body {
  width: 820px;
}
#schedule h2 {
  padding-left: 27px;
  margin-bottom: 36px;
}
#schedule h2:before {
  content: "";
  background-image: url('../img/calendar-bigger.png');
  width: 29px;
  height: 31px;
  display: inline-block;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #schedule h2:before {
    background-image: url('../img/calendar-bigger@2x.png');
    background-size: 29px 31px;
  }
}
#schedule table {
  background-color: #efeff2;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 62px;
}
#schedule table thead tr {
  background-color: #1a405c;
  color: #fff;
}
#schedule table thead td {
  padding: 5px 0;
}
#schedule table td {
  border: 2px solid #fafcfc;
  padding: 15px 26px;
}
#schedule table td.session {
  padding: 15px 38px;
  cursor: pointer;
}
#schedule table td.session:hover {
  background-color: #e1e1e6;
}
#schedule table td.speaker {
  padding: 5px;
}
#schedule table td.speaker.hover {
  background-color: #e1e1e6;
}
#schedule .desc {
  width: 704px;
  min-height: 280px;
  background-color: #fafcfc;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  margin-left: -352px;
  margin-top: -140px;
  border-radius: 4px;
  border-left: 6px solid #1a405c;
  text-align: left;
  padding: 30px 40px;
  color: #2e3031;
  box-sizing: border-box;
  display: none;
}
#schedule .desc.on {
  display: block;
}

#schedule .desc h5 {
  font-size: 15px;
  font-weight: 600;
  color: #1a405c;
  margin: 0 0 8px 0;
}
#schedule .desc p {
  margin-bottom: 20px;
}

#venue {
  padding: 121px 0 70px;
  position: relative;
  overflow: hidden;
}
#venue h2 {
  margin-bottom: 88px;
}
#venue h2:before {
  content: "";
  background-image: url('../img/venue.png');
  width: 27px;
  height: 36px;
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  #venue h2:before {
    background-image: url('../img/venue@2x.png');
    background-size: 27px 36px;
  }
}
#venue h4 {
  font-size: 16px;
  font-weight: 400;
}
#venue h4.address {
  margin-top: 41px;
  margin-bottom: 29px;
}
#venue h4.map {
  margin-top: 58px;
  margin-bottom: 22px;
}
#venue p {
  font-size: 14px;
  margin-bottom: 14px;
}
#venue .bg {
  position: absolute;
  top: -150px;
  right: 50%;
  margin-right: -700px;
}

#sponsors {
  background-color: #1b2931;
  padding: 210px 0 162px;
  text-align: center;
}

footer {
  background-color: #1b2931;
  color: #fff;
  min-height: 340px;
  text-align: center;
  position: relative;
}
footer h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 9px;
}
footer h6:before {
  content: "";
  width: 3px;
  height: 14px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}
footer .contactus {
  height: 150px;
  width: 189px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  border-right: 2px solid #979797;
}
footer .contactus .logo {
  position: absolute;
  left: -51px;
  top: -34px;
}
footer .contactus span {
  display: block;
  padding-left: 13px;
  margin-bottom: 13px;
}
footer .contactus span a {
  margin-right: 15px;
}
footer .developedby {
  width: 200px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  margin-left: 65px;
}
footer .developedby a {
  display: block;
  margin-bottom: 10px;
  padding-left: 13px;
}
footer .designedby {
  width: 200px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  margin-left: 149px;
  font-size: 14px;
}
footer .designedby span {
  padding-left: 13px;
}
footer .designedby .bg1 {
  position: absolute;
  top: -76px;
  left: -32px;
}
footer .designedby .bg2 {
  position: absolute;
  top: 11px;
  left: 44px;
}
footer a {
  font-size: 14px;
  color: #3d83e1;
  text-decoration: none;
}
footer .copyright {
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;

}
footer .bg3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -650px;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.overlay.on {
  display: block;
}
