/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    /*background-color: #E6E6E6;*/
    background-image: url(/2012/img/paper-background.jpg);
    color: #808080;
}

/*-----------------------------------------------
speaker link
------------------------------------------------*/
.speaker a:link    {text-decoration:none; color:#696D69 }
.speaker a:visited {text-decoration:none; color:#696D69 }
.speaker a:active  {text-decoration:none; color:#8EA5D1 }
.speaker a:hover   {text-decoration:underline; color:#476E1D }

/*-----------------------------------------------
a Link 
------------------------------------------------*/
a:link    {text-decoration:none; color:#429940 }
a:visited {text-decoration:none; color:#429940 }
a:active  {text-decoration:none; color:#429940 }
a:hover   {text-decoration:underline; color:#476E1D }

::-moz-selection {
    color: #fff;
    background: #476E1D;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #429940;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 12px/18px 'Source Code Pro','NanumGothic','Century Gothic',Verdana, Arial;
}

h2 {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -2px;
  color: #6A6A6A;
  font-weight:400;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;

    color: white;
}

nav a:hover,nav a:active,nav a:link,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's 공통 custom styles
   ========================================================================== */
img.center { display: block; margin-left: auto; margin-right: auto; }

/*-----------------------------------------------
speaker
------------------------------------------------*/
.logo{
  text-align: center;
  font: 12px/20px 'codystar';
  color: #476E1D;
  text-shadow: 0 0 2px #e3efd3;
}

.logo time{
  font-size:24px;
  letter-spacing: 1px;
}

.logo a{
  text-decoration: none;
}
.speaker .zoom-container {
    margin-bottom: 20px;
    overflow: hidden;
}
  .speaker .zoom-container img {
    width: 190px !important;
    padding: 5px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    float: left;
    margin: 0 10px 5px 0;
  }
ul.work-items {
  overflow: hidden;
  padding: 0px !important;
  clear: both;
}
ol, ul {
list-style: none;
}
ul.work-items li {
  padding: 3px !important;
  background: white;
  margin: 0 4px 4px 0;
  list-style: none;
  float: left;
  width: 72px;
  border: 1px solid #DDD;
  border-radius: 3px;
}
ul.work-items li:hover{
  background:#8EC63F;
  border:1px solid #8EC63F;
 /* transition:all 0.2s;
  -moz-transition:all 0.2s;
  -webkit-transition:all 0.2s;*/
}
ul li {
list-style: none;
}
ul.work-items li.last {
/*margin-right: 0px;*/
}

h2.rollup {
  position: relative;
}
h2.rollup a {
  color: #476E1D;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  /*width: 41px;
  height: 28px;*/
  /*background: url("/images/structure/0.3.5/rollup.png") right top no-repeat;*/
  font-size: 11px;
}
.ticket .btn {
  display: block;
  color: #476E1D;
  cursor: pointer;
  width: 400px !important;
  height: 28px;
  font-size: 20px;
  padding: 5px;
  background-color: #8FC740;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
nav a {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 0px;
}
/*-----------------------------------------------
link
------------------------------------------------*/
.sidebar a:hover {
  text-decoration:none;
  color:#476E1D;
}

/*.sidebar a {
	transition: color .6s linear;
	-moz-transition: color .6s linear;
	-webkit-transition: color .6s linear;
}*/
.ticket a:hover {
  text-decoration:none;
  color:red;
}
/*.ticket a {
	transition: color .6s linear;
	-moz-transition: color .6s linear;
	-webkit-transition: color .6s linear;
}*/
:focus {
	outline: 0;
}

/*-------------------------
 * main
 *------------------------*/
.main article h2 {
  border-bottom: 2px solid #8FC740;
  letter-spacing: -3px;
}

/*-------------------------
 * snsbar
 *------------------------*/

.snsbar .jta-tweet-user-screen-name-link,
.snsbar .jta-tweet-a, .twitter-anywhere-user {
  color: #8EC63F;
}

.snsbar .jta-tweet-list-item {
  border-bottom: 2px dotted #DDD;
  padding: 10px 0;
}


/*-------------------------
 * contents
 *------------------------*/
.about p, .speaker p, .schedule p, .location p {
  letter-spacing: 0px;
}

.about .en {
  letter-spacing: 0;
}


article {
    width: 420px;
    margin: 0px auto 60px ;
    padding: 0;
  }

article h2 {
  font-size: 34px;
}

/*--------------------------------------
   * schedule
* ------------------------------------*/
   .schedule h3 {
    text-align: center;
    font-size: 18px;
    letter-spacing: -2px;
    padding-top: 20px;
   }

   .schedule ul {
    padding: 0;
    letter-spacing: -1px;
    font-size: 12px;
    line-height: 16px;
   }

  .schedule li {
    width: 420px;
    display: table;
    text-align: center;
    margin-bottom: 10px;
    background: #8EC63F;
  }

  .schedule p {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
  }

  .schedule small{
    font-size: 10px;
    color: #e3efd3;
  }

  .schedule .time {
    width: 75px;
    background: #C3DE9A;
    font-size: 9pt !important;
  }

  .schedule .info {
    width: 200px;
    color: #fff;
  }

  .schedule .track {
    width: 100px;
    color: #fff;
  }

  .schedule .btrack {
    background: #466d1d;
  }


  .schedule .info small,
  .schedule .track small {
    display: block;
    font-size:11px;
    font-weight: normal;
  }
/*-------------------------
 * location
 *------------------------*/
.location {
  overflow: hidden;
}

  .snsbar .contents {
    padding: 0 20px;
  }

/*-------------------------
 * footer
 *------------------------*/
footer {
    width: 420px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    font-size: 10px;
}

/*-----------------------------------------------
organizers
------------------------------------------------*/
#organizers {
  margin: 0 auto;
  width: 940px;
  margin-bottom: 50px;
  text-align: center;
  display: none;
}

#organizers h2 {
  font-size: 34px;
  line-height: 40px;
  border-bottom: 2px solid #8FC740;
  letter-spacing: -3px;
}

#organizers .organizers {
  width: 170px;
  display: inline-block;
  text-align: center;
  margin: 0 10px 20px;
}

#organizers .organizers img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#organizers .organizers span {
  display: block;
  letter-spacing: -1px;
}

#organizers .organizers span.name {
  margin-top: 5px;
  font-size: 16px;
  color: #464646;
  font-weight: bold;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* iphone */
/*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */
@media only screen and (max-width: 739px){
  body {
  }
  .container {
    margin-top: -30px !important;
  }
  .sidebar {
    display: none;
  }
  
  .logo{
    position: relative;
    display: block;
    top:28px;
    width:320px;
    margin: 0 auto;
    padding: 30px 0;
    background: rgba(255, 255, 255, .35) !important;
  }
  .logo img{width:300px;height:84px;}
  .sponsor-shiv {
    margin: 0 auto 60px;
    display: block;
  }
  .speaker .zoom-container {
      width: 280px;
  }
  .speaker .work-items{
    width: 256px;
    margin: 0 auto;
  }
  .sponsor {
    display: none;
  }
.main{

}

  article {
    width: 280px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .about, .speaker, .schedule, .ticket, .location {
    width: 280px !important;
  }

  .transparencyBG{
    background: rgba(255, 255, 255, .35) !important;
  }

  .upperArrow{
    width: 0;
    height: 0;
    position: relative;
    top: 28px;
    border-bottom: 60px solid white;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    content: " ";
    margin: 0px auto ;
    opacity: 0.35 !important;
  }

  .downerArrow{
    width: 0;
    height: 0;
    position: relative;
    top: -42px;
    border-top: 60px solid white;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    content: " ";
    margin: 0px auto ;
    opacity: 0.35 !important;
  }

  .about{
    position: relative;
    top:-30px;
  }
 
  .ticket{
    position: relative;
    top: -10px;
  }
  .ticket-btn {
    display: block;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    text-align: center;
  }

  .ticket .btn {
    display: block;
    color: #476E1D;
    cursor: pointer;
    width: 280px !important;
    height: 28px;
    font-size: 18px !important;
    padding: 5px 5px 22px;
    background-color: #8FC740;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  .speaker{
    margin-bottom:42px;
  }
  
  .snsbar {
    background: rgba(255, 255, 255, .35) !important;
    margin: 28px auto 42px;
    width: 320px;
  }

  .location .map {
    text-align: center;
  }

  /*--------------------------------------
   * schedule
   * ------------------------------------*/
  .schedule li {
    width: 300px;
  }

  footer {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  /*-----------------------------------------------
  organizers
  ------------------------------------------------*/
  #organizers {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
  }
}

/* ---------------------------------
  ipad
  ---------------------------------*/
@media only screen and (min-width: 740px) and (max-width: 979px){
  body {
    /*background-color: red;*/
  }

  .logo p{
    position: relative;
    padding : 6px 0 0 ;
    left: -157px;
    width: 740px;
    background-color: #8EC63F;
  }

  .container::before {
    top: -100px;
    border-bottom: 100px solid white;
    border-left: 367px solid transparent;
    border-right: 377px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    width: 0px;
    opacity: 0.35 !important;
  }

  .container {
    width: 740px;
    background: rgba(255, 255, 255, .35);
    margin: 150px auto !important;
    position: relative !important;
  }

  .container:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -100px;
    border-top: 100px solid #fff;
    border-left: 367px solid transparent;
    border-right: 375px solid transparent;
    opacity: 0.35 !important;
  }
  .sidebar {
    width: 740px;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 150px;
    background-color: #8FC740;
    display: block;
    z-index: 1000;
  }
    nav a {
        display: inline;
        margin-bottom: 10px;
        font-size: 18px;

        text-align: center;
        text-decoration: none;

        color: white;
    }
  .speaker .zoom-container {
      width: 420px !important;
  }

  .sponsor {
    width: 740px;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 210px;
    display: block;
    text-align: left;
    margin-left: 20px;
  }
    .sponsor * {
      display: inline;
    }
    .sponsor img {
      width: 60px;
      position: relative;
      top:-8px;
    }
  .socalbutton{
    display: inline;
    position: relative;
    top: -50px  
  }

  .socalbutton h2{display:none;}

  .main {
    width: 420px;
    margin-left: 30px;
    position: relative;
    top: 60px;
  }

  .about {
    padding-top: 240px;
  }
  .about, .speaker, .schedule, .ticket, .location {
    width: 420px !important;
    background: transparent !important;
  }
  .ticket{
    display: none;
  }
  .logo {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 420px !important;
    position: absolute;
    left: 157px;
    top: -30px;
    display: block;
  }
  .logo-shiv, .sponsor-shiv {
    display: none;
  }
  /*--------------------------------------
   * sns bar
   * ------------------------------------*/
  .snsbar::before {
    top: -100px;
    border-bottom: 100px solid #E6E6E6;
    border-left: 250px solid transparent;
    border-right: 0px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    width: 0px;
  }
  .snsbar {
    width: 250px;
    height: 83.3%;
    position: absolute;
    right: 0;
    top: 320px;
    background-color: #E6E6E6 !important;
    margin: 0px;
    padding: 0px;
  }
  .snsbar::after {
    border-top: 113px solid #E6E6E6;
    border-left: 250px solid transparent;
    border-right: 0px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    bottom: -113px;
    width: 0px;
  }

  .socalbutton {
    text-align: center;
  }

  .socalbutton span {
    display: inline;
  }

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        width: 27%;
        margin-bottom: 0;
        border-right: 1px solid #fff;
        padding-right: 10px;
    }

    nav a:last-child {
      border-right: none;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .location .address {
      float: left;
      width: 160px;
      position: relative;
      top: 28px;
    }
    .location .map {
      float: right;
    }
/*-----------------------------------------------
organizers
------------------------------------------------*/
#organizers {
  margin: 0 auto;
  width: 720px;
  margin-bottom: 50px;
  text-align: center;
  display: none;
}

}

/*--------------------------------------------
  desktop
  ------------------------------------------*/
@media screen and (min-width: 980px){
  .container::before {
    top: -140px !important;
    border-bottom: 140px solid #fff !important;
    border-left: 498px solid transparent !important;
    border-right: 484px solid transparent !important;
    content: " ";
    height: 0 !important;
    position: absolute !important;
    width: 0px !important;
    opacity: 0.35 !important;
  }

  .container {
    width: 980px !important;
    background: rgba(255, 255, 255, .35);
    margin: 170px auto !important;
    position: relative !important;
  }

  .container:after {
    content: "" !important;
    width: 0 !important;
    position: absolute;
    bottom: -140px !important;
    border-top: 140px solid #fff !important;
    border-left: 498px solid transparent !important;
    border-right: 484px solid transparent !important;
    opacity: 0.35;
  }

  .logo {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 420px !important;
    position: absolute;
    left: 287px !important;
    top: -60px !important;
    display: block !important;
  }
  .logo-shiv, .sponsor-shiv {
    display: none;
  }
  .main {
    padding-top: 100px;
    margin: 0 auto;
    width: 420px !important;
  }

  .main article {
    margin-left: -25px !important;
  }


  /*--------------------------------------
   * sidebar
   * ------------------------------------*/
  .sidebar::before {
    border-bottom: 96px solid #8FC740 !important;
    border-left: 0px solid transparent !important;
    border-right: 200px solid transparent !important;
    content: " ";
    height: 0;
    position: absolute !important;
    top: -96px !important;
    width: 0px !important;
  }
  .sidebar {
    width: 200px !important;
    position: absolute !important;
    left: 0 !important;
    top: 96px !important;
    background-color: #8FC740 !important;
    display: block;
    text-align: left;
  }
  .sidebar::after {
    border-top: 96px solid #8FC740;
    border-left: 0px solid transparent;
    border-right: 200px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    bottom: -96px;
    width: 0px;
  }
  /*--------------------------------------
   * sponsor
   * ------------------------------------*/
  .sponsor::before {
    border-bottom: 96px solid #EAEAEA !important;
    border-left: 200px solid transparent !important;
    border-right: 0px solid transparent !important;
    content: " ";
    height: 0;
    position: absolute !important;
    top: -96px !important;
    width: 0px !important;
  }
  .sponsor {
    width: 200px !important;
    position: absolute !important;
    left: 0 !important;
    top: 500px !important;
    background-color: #EAEAEA !important;
    display: block;
    height: 77% !important;
    margin: 0 !important;
  }
  .sponsor::after {
    border-top: 96px solid #EAEAEA;
    border-left: 0px solid transparent;
    border-right: 200px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    bottom: -96px;
    left: 0;
    width: 0px;
  }
    .sponsor h2 {
      display: block !important;
    }

    .sponsor .contents {
      text-align: center !important;
    }
    .sponsor img {
      display: block !important;
      width: 120px;
      margin: 20px auto !important;
    }

    nav {
      
    }
    nav a {
        width: 65%;
        display: block !important;
        padding: 5px 2px;

        text-align: center;
        text-decoration: none;

        color: white;
        border: none;
        border-bottom: 2px dotted #fff;
        margin: 0 auto;
    }
     nav a:last-child {
        border-bottom: none;
    }
    .sidebar ol {
      display: block;
      list-style-type: none;
    }
    
    .socalbutton {
      width:200px;
      text-align: center;
    }

    .socalbutton span {
      margin: 2px auto;
      display:block;
    }

  /*--------------------------------------
   * sns bar
   * ------------------------------------*/
  .snsbar::before {
    border-bottom: 140px solid #E6E6E6 !important;
    border-left: 250px solid transparent !important;
    border-right: 0px solid transparent !important;
    content: " " !important;
    height: 0 !important;
    position: absolute !important;
    top: -140px !important;
    width: 0px !important;
  }
  .snsbar {
    width: 250px !important;
    position: absolute !important;
    right: 0 !important;
    height: 87.9%;
    top: 140px !important;
    background-color: #E6E6E6 !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .snsbar::after {
    border-top: 140px solid #E6E6E6 !important;
    border-left: 250px solid transparent !important;
    border-right: 0px solid transparent !important;
    content: " " !important;
    height: 0 !important;
    position: absolute !important;
    bottom: -140px !important;
    width: 0px !important;
  }

  .about {
    background: transparent !important;
    padding: 0px !important;
    width: 420px !important;
  }

  .location .address {
    float: left;
    width: 160px;
    position: relative;
    top: 28px;
  }
  .location .map {
    float: right;
  }
  .ticket{
    display: none;
  }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
